/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* Body Background */
body {
    background: url("https://www.shutterstock.com/shutterstock/videos/3850868265/thumb/9.jpg?ip=x480");
    color: #fbdbdb;
    min-height: 100vh;
    background-image: no repeat;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ================= NAVBAR ================= */

.navbar {
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.79);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    letter-spacing: 1px;
}

.logo span {
    color: #7a7cff;
}

/* Nav Links */
nav a {
    margin: 0 18px;
    text-decoration: none;
    color: #cfd6ff;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffffff;
}

/* Let's Talk Button */
.btn-talk {
    background: linear-gradient(135deg, #7a7cff, #9b6bff);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.btn-talk:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(122,124,255,0.4);
}

/* ================= HERO ================= */

.hero {
    text-align: center;
    padding: 120px 0 80px;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #7a7cff;
}

/* Subtext */
.hero p {
    max-width: 600px;
    margin: auto;
    color: #aab3d1;
    font-size: 16px;
    line-height: 1.6;
}

/* Buttons */
.hero-buttons {
    margin-top: 35px;
}

.btn-primary,
.btn-secondary {
    padding: 14px 28px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s ease;
}

/* Primary */
.btn-primary {
    background: linear-gradient(135deg, #010261, #5010d9);
    color: #e9e0e0;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 30px rgba(122,124,255,0.5);
}

/* Secondary */
.btn-secondary {
    background: #1b2540;
    color: #d4dcff;
}

.btn-secondary:hover {
    background: #253056;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .hero h1 {
        font-size: 38px;
    }

    nav a {
        display: none;
    }
}
